{% extends "layout.html" %} {% block body %}

<h3>Hakkımızda</h3>
<hr class="border-dark">

<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi obcaecati modi ipsa amet exercitationem quibusdam molestiae vero quas expedita hic explicabo nesciunt rem, ratione voluptas quo nihil consequuntur aperiam perferendis ea maiores! Iusto, tempora
    aliquid! Odit laudantium labore obcaecati minima.
</p>

{% endblock %}

<!--şimdi bu about.html render etmemiz gerekiyor. Fakat ilk önce bunu urls.py ye bildirmemiz lazım-->