<!--{<!DOCTYPE html> % load static %}
burada django aramak istediğimiz klasörün adını yazarak o klasörn altında kullanmak
istediğimiz dosyaları kullanmamızı yarayan bir kod yardımıyla yapmamızı sağlıyor-->
<!--<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
     farklı bir açıdan href'in içine href="../static/style.css" burada iki nokta koymamızın amacı
    index dosyası ilk önce article klasörüne oradan templates klasörüne çıkacak daha sonra da
static dosyasını arayıp içerisinden style.css i bulacak demek oluyor
    <title>Anasayfa</title>
</head>

<body>

</body>

</html>-->